@import "~@angular/material/theming";

// Define a custom mixin that takes in the current theme
@mixin theme-dropdown($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .dropdown {
    background-color: mat-color($accent);
  }
}
