<mat-grid-list cols="4" rows="4" rowHeight="100px">
  <mat-grid-tile colspan="4" rowspan="5" class="grid">
    <div class="user-title" fxLayout="column" fxLayoutAlign="center center">
      <h1 class="title-font">Callum</h1>
      <h1 class="title-font">Tech</h1>
    </div>
    <p>
      Ambitious and ready to take on the world of Information Technology,
      <br> my love for programming and all things I.T. has not wavered since I first got access
      <br> to my fathers computer at age 9.
    </p>
  </mat-grid-tile>

</mat-grid-list>