@import "~@angular/material/theming";
@import "../scss/grid";
@import "../scss/dropdown";
@import "../scss/table";
@include mat-core();

$ng6-black: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$ng6-yellow: (
  50: #FFFF00,
  100: #FFFF00,
  200: #FFFF00,
  300: #FFFF00,
  400:#FFFF00,
  500:#FFFF00,
  600: #FFFF00,
  700: #FFFF00,
  800: #FFFF00,
  900: #FFFF00,
  A100: #FFFF00,
  A200: #FFFF00,
  A400: #FFFF00,
  A700: #FFFF00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
// mandatory stuff for theming
$ng6-primary: mat-palette($ng6-black);
$ng6-accent: mat-palette($ng6-yellow);
// include the custom theme components into a theme object
$ng6-theme: mat-light-theme($ng6-primary, $ng6-accent);
// include the custom theme object into the angular material theme
@include angular-material-theme($ng6-theme);
@include theme-grid($ng6-theme);
@include theme-dropdown($ng6-theme);
@include theme-table($ng6-theme);
