@import "~@angular/material/theming";
@import "../scss/grid";
@import "../scss/dropdown";
@import "../scss/table";
@include mat-core();

$blue-primary: (
  50: #673ab7,
  100: #673ab7,
  200: #673ab7,
  300: #673ab7,
  400: #673ab7,
  500: #673ab7,
  600: #673ab7,
  700: #673ab7,
  800: #673ab7,
  900: #673ab7,
  A100: #673ab7,
  A200: #673ab7,
  A400: #673ab7,
  A700: #673ab7,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$blue-secondary: (
  50: #673ab7,
  100: #673ab7,
  200: #673ab7,
  300: #673ab7,
  400:#673ab7,
  500:#673ab7,
  600: #673ab7,
  700:#673ab7,
  800: #673ab7,
  900: #673ab7,
  A100: #673ab7,
  A200: #673ab7,
  A400: #673ab7,
  A700:#673ab7,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
/* *ng6 blue material theme */
$ng6-blue-primary: mat-palette($blue-primary);
$ng6-blue-accent: mat-palette($blue-secondary, 400);
$ng6-blue-theme: mat-light-theme($ng6-blue-primary, $ng6-blue-accent);
@include angular-material-theme($ng6-blue-theme);

@include theme-grid($ng6-blue-theme);
@include theme-dropdown($ng6-blue-theme);
@include theme-table($ng6-blue-theme);
